.purchase-plan-container {
  padding: 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.purchase-plan-title {
  text-align: center;
  font-size: 54px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.purchase-plan-title p {
  height: 4rem;
}

.plan-length-selector {
  background-color: rgb(151, 151, 151);
  border-radius: 15px;
  width: 22rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.monthly-plan {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 7rem;
}

.yearly-plan {
  background-color: black;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 15rem;
  height: 100%;
}

#yearly-plan-non {
  width: 5rem;
}

#yearly-plan-sub {
  background-color: white;
  color: var(--green);
  font-size: 10px;
  width: 8rem;
  border-radius: 100px;
  padding: 0.4rem;
}


.plan-selector-wrapper {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.plan-selector-wrapper :last-child {
  margin-right: 0rem;
}

.plan-container {
  height: 130vh;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(61, 61, 61, 0.211);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  max-width: 15rem;
  margin-right: 1.5rem;
  position: relative;
  background-color: white;
}

.plan-title {
  font-size: 30px;
  margin-top: 3.5rem;
  font-weight: 500;
}

.plan-price {
  display: flex;
  align-items: baseline;
}

.price-dollar-sign {
  font-size: 24px;
  margin-right: 0.4rem;
}

.price-amount {
  font-size: 36px;
  font-weight: 500;
}

.price-amount-description {
  margin-left: 0.4rem;
  font-size: 14px;
  color: rgba(152, 152, 152, 0.811);
}

.plan-purchase-button {
  background-color: var(--green);
  border-radius: 10px;
  padding: 1rem 1.4rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.plan-subtitle {
  font-size: 13px;
  color: rgb(109, 109, 109);
  text-align: center;
}

.plan-subtitle :first-child {
  margin-bottom: 1rem;
}

.subtitle-bill-hidden {
  display: none;
}

.plan-divider {
  border-bottom: 1px solid rgba(128, 128, 128, 0.369);
  height: 1px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.plan-perks-container {
  align-items: start;
}

.plan-perk {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 15px;
  color: rgb(85, 85, 85);
  word-wrap: normal;
}

.plan-perk img {
  height: 1rem;
  padding-right: 1rem;
}

.plan-perk span {
  font-weight: 600;
  color: black;
}

.purchase-button-2 {
  margin-top: auto;
  margin-bottom: 3rem;
}

.most-popular-plan {
  background-color: rgb(237, 140, 60);
  position: absolute;
  right: -0.3rem;
  left: -0.3rem;
  top: -3rem;
  bottom: -0.3rem;
  z-index: -1;
  border-radius: 15px;
}

.most-popular-plan p {
  color: white;
  font-size: 13px;
  text-align: center;
  padding-top: 0.3rem;
}



.addons-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.addons-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.addons-tax-wrapper {
  background-color: rgba(236, 219, 219, 0.256);
  border-radius: 15px;
  margin-top: 3rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.tax-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tax-description {
  text-align: center;
  font-size: 14px;
  color: rgb(116, 115, 115);
}

.tax-link {
  margin: 1.5rem 0rem;
}

#tax-link {
  color: var(--green);
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.tax-price {
  display: flex;
  align-items: baseline;
}

.tax-price :first-child {
  margin-right: 0.4rem;
  font-size: 36px;
  font-weight: 500;
}

.tax-price :last-child {
  font-size: 14px;
  color: grey;
  font-weight: 600;
}